/*PRODUCTOS*/
.subtitulo {
  color: #dbbbcd;
}

/*SUBTITULOS*/

.almohadas u {
  color: #dbbbcd;
}
.almoperso u {
  color: #bbb9bb;
}
.carpas u {
  color: #bbb9bb;
}
.cuadros u {
  color: #bbb9bb;
}
.organizador u {
  color: #bbb9bb;
}

.u {
  color: aquamarine;
}

/*CARDS*/

.card {
  margin: 0 0 1em;
  padding: 1em;
  border: 1px;
}
